
/* Font Family */
$font_body : 'Roboto', sans-serif;
$font_title : 'Roboto', sans-serif;
$font_paragraph : 'Roboto', sans-serif;
$font_link : 'Roboto', sans-serif;
$font_button : 'Roboto', sans-serif;


/* Default Skin */
$color_body-bg: #f5f8f9;
$color_paragraph: #606060;
$color_lgrey: #c0c3c3;
$color_title: #262626;
$color_border: #dfeaee;

/* Theme Skin */
$color_theme: #f44436;
$color_theme_light: #f0f7fb;
$color_theme_link:  $color_theme;

/* Colorfull Skin*/
$color_green: #85d3ca;
$color_lightBlue: #6bb3d2;

/* Button */
$color_theme_btn_bg: #f44436;
$color_theme_btn_border: #f44436;

/* Layout */
$container_width : 1360px;